.auth-container {
  width: 350px;
  margin: 80px auto;
  padding: 30px;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
  text-align: center;
  font-family: Arial, sans-serif;
}
.main-subtext{
    color: #ffffff;
}
.auth-container h2 {
  margin-bottom: 20px;
  color: #333;
}

.auth-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

.auth-input:focus {
  border-color: #007bff;
}

.auth-btn {
  width: 100%;
  padding: 12px;
  background: #007bff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.auth-btn:hover {
  background: #0056b3;
}

.auth-link {
  margin-top: 15px;
  display: block;
  color:wheat;
  text-decoration: none;
}

.auth-link:hover {
  text-decoration: underline;
}
